body{
    margin-left: 200px;
    margin-top: 80px;
    font-style: normal;
    font-size: large;
}
#display_image{
    width:150px;
    height:150px;
    border:1px solid black;
    float: auto;
}
.div2{
    width:150px;
    display:inline-block;
    text-align: right;
}
.div1{
    display:inline-block;
}
input[type="file"]{
    display: None;
}
.button_cls{
    background-color:blueviolet;
    color: white;
    margin:170px;
    width: 200px;
    height: 80px;
    border-radius: 5px;
}
div.sub{
    margin-left: 200px;
}